:root {
    --naranja: #ff680c;
    --morado: #5433a3;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Noto Sans',sans-serif;
}

*, *::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Generales */
h1 {
    font-size: 3rem;
}

img {
    max-width: 100%;
}

button.btn {
    border: none;
    text-emphasis: center;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: .1rem;
}

/* hero */
.header-container {
    width: 100%;
    background-image: url('../img/garage-hero.jpg');
    background-position: center center;
    height: 65rem;
    position: relative;
}

.header-container::before {
    content: '';
    position: absolute;
    background-color: rgba(255,104,12,.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

@media (min-width: 768px) {
    .site-header {
        flex-direction: row;
        justify-content: space-between;

    }
}

.site-header .logo h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
    margin-left: 4rem;
    font-size: 4rem;
    margin-top: 1rem;
}

.site-header .menu-header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 7rem;
} 

@media (min-width: 768px) {
    .site-header .menu-header ul {
        flex-direction: row;
        margin-top: 2rem;
    }
}

.site-header .menu-header ul li {
    padding: 1rem;
    transition: all .3s ease-in-out;
    text-align: center;
}

@media (min-width: 768px) {
    .site-header .menu-header ul li {
        padding: 1rem 4rem;        
    }
}

.site-header .menu-header ul li:hover {
    background-color: rgba(255,255,255,.5);
    border-radius: .3rem;    
}

.menu-header ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .1rem;
}

.menu-header ul li:last-child {
    margin-right: 0;
}

@media (min-width: 768px) {
    .menu-header ul li:last-child {
        margin-right: 12rem;
    }
}

.header-container .buscador-container {
    width: 100%;
    z-index: 10;
    position: relative;
    margin-left: 0;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 660px) {
    .header-container .buscador-container {
        width: 58rem;
        margin-left: 12%;
        margin-top: 15%;        
    }
}

@media (min-width: 768px) {
    .header-container .buscador-container {
        width: 70rem;
        margin-left: 25%;       
    }
}

@media (min-width: 1400px) {
    .header-container .buscador-container {
        margin-left: 30%;
        margin-top: 10%;       
    }
}

h2.subtitulo-principal {
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: 400;
    color: white;
    letter-spacing: .2rem;
}

@media (min-width: 768px) {
    h2.subtitulo-principal {
        margin-left: 0;
        font-size: 3.5rem;        
    }
}

.buscador-container span {
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.buscador-container .input-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

input.buscador {
    width: 50%;
    padding: 1rem;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: .9rem;
}

@media (min-width: 500px) {
    input.buscador {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    input.buscador {
        font-size: 1.5rem;
    }
}

.btn.btn-buscar {
    background-color: var(--morado);
    color: white;
    width: 20%;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .btn.btn-buscar {
        width: 10%;
        font-size: 1.5rem;
    }
}

/* seccion productos */
h2.seccion-productos {
    text-align: center;
    color: var(--morado);
    margin-top: 2rem;
}

.contenedor-seccion {
    max-width: 100%;
    width: 120rem;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    margin: 3rem 1rem;
    flex: 0 0 50%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    .producto {
        flex: 0 0 40%;        
    }
}

@media (min-width: 768px) {
    .producto {
        flex: 0 0 30%;        
    }
}

.producto .img-producto {
    width: 200px;
    height: 160px;
    padding: 2rem;
    border-bottom: .5rem solid var(--morado);
}

@media (min-width: 768px) {
    .producto .img-producto {
        height: auto;
    }
    
}

.producto .titulo-producto {
    font-size: 2.5rem;
    color: var(--morado);
}

/* blog */
section.blog {
    width: 100%;
    height: 60rem;
    margin: 2rem 0;
    background-image: url(../img/testimonialeres-fluid.jpg);
    background-size: cover;
    background-position: top right;
}

@media (min-width: 768px) {
    section.blog {
        background-position: center center;
    }    
}

section.blog .contenedor-blog {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem
}

h2.subtitulo-principal.blog-heading {
    margin-top: 3rem;
    margin-left: 2rem;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

h3.titulo-entrada {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 4rem;
    font-weight: 400;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: 2rem;
    margin-top: 3rem;

}

.contenedor-blog a.btn.btn-leer {
    color: white;
    text-decoration: none;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    font-size: 2rem;
    margin-left: 2rem;
    width: 15rem;
    text-align: center;
    padding: 1rem;
    height: 5rem;
    border-radius: .5rem;
    background-color: var(--morado);
}

/* indispensables */
section.indispensable {
    max-width: 100%;
    padding: 1rem;
}

@media (min-width: 768px) {
    section.indispensable {
        padding: 0;
    }
}

section.indispensable .contenedor-indispensables {
    margin: 4rem auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem; 
}

@media (min-width: 500px) {
    section.indispensable .contenedor-indispensables {
        grid-template-columns: 1fr 1fr;        
    }
}

@media (min-width: 768px) {
    section.indispensable .contenedor-indispensables {
        width: 120rem;
        grid-gap: .2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;        
    }
}

.producto-indispensable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto-indispensable:nth-child(odd) {
    border: 2px solid var(--morado);
}

.producto-indispensable:nth-child(even) {
    border: 2px solid var(--naranja);
}
.img-indispensable {
    width: 200px;
}

/* valores */
section.valores{
    background-color: var(--morado);
    width: 100%;
    height: 30rem;
    margin: 4rem 0;
}

h2.subtitulo-valores {
    text-align: center;
    padding-top: 2rem;
}

.contenedor-valores {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-valores {
        width: 120rem;
        justify-content: space-between;        
    }
}

.valor {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33%;
    padding: 1rem;
    text-align: center;    
}

.valor .titulo-entrada {
    margin: 0 auto 2rem auto;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .valor {
        flex-direction: column;    
    }
    .valor .titulo-entrada {
        font-size: 3rem;
    }
}

.valor .valor-descripcion {
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .valor .valor-descripcion {
        font-size: 2rem;        
    }
}


